<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Form</title>
   
     <style>
        body{
    margin: 0px;
    background-color: rgb(248, 234, 203);
    text-align: center;
}
h1{
    text-align: center;
    color: rgba(77, 9, 9, 0.842);
}

#workshop{
    
    margin: auto;
    width: 60%;
    height: 100%;
    border: rgba(136, 35, 35, 0.938)  dotted 5px;
  
}

.form-rows{
    margin: 20px;
    
}

.fields {
    display: inline-block;
    text-align: left;
    width: 55%;
    vertical-align: bottom;
  }
  .labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align:top;
    margin-top: 10px;
    color: rgb(143, 77, 11);
  }


.labels , .fields , input, label,select, textarea {
      font-size: 20px;
     
}

button{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin:20px;
    background-color: rgb(241, 162, 87);
    
}

.clear{
    display: inline-block;
   

}
.submit{
  
    display: inline-block;
    margin-left: 100px;

}

     </style>
</head>

<body>
    <h1>Workshop Registration Form</h1>
    <form id="workshop" action="/register" method="post">
        <div class="form-rows">
            <div class="labels">
                <label for="name" id="name-label">Name : </label>
            </div>
            <div class="fields">
                <input type="text" id="name" class="input-fields" name="name" placeholder="Enter your name" required>
            </div>
            
        </div>
        <div class="form-rows">
            <div class="labels">
                <label for="email">Email : </label>
            </div>
            <div class="fields">
                <input type="email" id="email" name="email" placeholder="Enter your email id">
            </div>
         </div>
        <div class="form-rows">
            <div class="labels">
                <label for="d.o.b">D.O.B : </label>
            </div>
            <div class="fields">
                <input type="date" id="d.o.b" name="dob">
            </div>
        </div>
        <div class="form-rows">
            <div class="labels">
                <label for="mob"> Mobile No. : </label>
            </div>
            <div class="fields">
                <input type="tel" id="mob" name="mob" placeholder="Enter your 10 digit mobile no.">
            </div>
        </div>

        <div class="form-rows">
            <div class="labels">
                <label for="year"> Year : </label>
            </div>
            <div class="fields">
                <input type="radio" id="1st Year" name="Year" value="1st Year">
                  <label for="1st Year">1st Year</label><br>
                <input type="radio" id="2nd Year" name="Year" value="2nd Year">
                  <label for="2nd Year">2nd Year</label><br>
                <input type="radio" id="3rd Year" name="Year" value="3rd Year">
                  <label for="3rd Year">3rd Year</label><br>
                <input type="radio" id="final year" name="Year" value="final year">
                  <label for="final year">Final Year</label><br>
               
            </div>

        </div>

        <div class="form-rows">
            <div class="labels">
                <label for="branch"> Branch : </label>
            </div>
            <div class="fields">
                <select name="branch" id="branch">
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="IT">IT</option>
                    <option value="EE">EE</option>
                    <option value="ME">ME</option>
                    <option value="CE">CE</option>
                    <option value="CHE">CHE</option>
                  
                </select>
            </div>
        </div>

        <div class="form-rows">
            <div class="labels">
                <label for="grp"> No of group member : </label>
            </div>
            <div class="fields">
                <input type="number" id="grp" name="grp" placeholder="Enter no. of member ">
            </div>
        </div>
        
        <div class="form-rows">
            <div class="labels">
                <label for="course"> Area of Interest : </label>
            </div>
            <div class="fields">
                <input type="checkbox" id="ML/AI" name="int" value="ML/AI">
                  <label for="ML/AI">ML/AI</label><br>
                <input type="checkbox" id="IOT" name="int" value="IOT">
                  <label for="IOT"></label>IOT<br>
                <input type="checkbox" id="Robotics" name="int" value="Robotics">
                  <label for="Robotics">Robotics</label><br>
                <input type="checkbox" id="Python" name="int" value="Python">
                  <label for="Python">Python</label><br>
                <input type="checkbox" id="Java" name="int" value="Java">
                  <label for="Java">Java</label><br>
                <input type="checkbox" id="C/C++" name="int" value="C/C++">
                  <label for="C/C++">C/C++</label><br>
               
            </div>

        </div>
        <div class="form-rows">
            <div class="labels">
                <label for="textarea">Elaborate your project if any : </label>
            </div>
            <div class="fields">
                <textarea id="textarea"  name="textarea" cols="30" rows="5" placeholder="Explain your project here.."></textarea>
            </div>
            
        </div>
        <div class="clear">
            <button type="reset"  value="reset">Clear Form</button>
        </div>
        <div class="submit">
           <button type="submit"  value="Submit">Submit</button>
       </div>
 
    </form>

</body>

</html>