<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Message</title>
</head>
<body>
    <h1 style="color: #39ac39;text-align:center;margin:200px 100px 200px 100px; font-family: Arial, Helvetica, sans-serif;">Registration Successful !</h1>


</body>
</html>